<h1>Productos de la tienda</h1>

<form method="post">
    <label>Dirección de envio: </label>
    <input type="text" name="direccion" class="form-control"/>

    <button type="submit" class="btn btn-info">Comprar productos</button>
    
    <br/>

    <input type="checkbox" name="producto" class="form-control" value="producto1" />Maserati
    <br />

    <input type="checkbox" name="producto" class="form-control" value="producto2" />Samsung
    <br/>

    <input type="checkbox" name="producto" class="form-control" value="producto3" />IPhone
</form>