@section imagenes {

    <img src="~/images/2.jpg" />
}

@section foo { 

<h3 style="color:red">Soy el pie de contenido</h3>
}

@section tit{ 
    Vista de contenido

}

<h1 style="color:green">Vista de contenido</h1>
