@section foo {

    <h3 style="color:Red">Soy el pie en casita</h3>

}

@section tit {

    Home/Casita
}

@section scripts {
    <script>

        $(document).ready(function () {

            $("#botonhijo").click(function () {
                alert("boton hijo");
            });
        });
    </script>
}

@section imagenes {

    <img src="~/images/1.jpg" />
}

<h1 style="color:blue">Bienvenido a casa</h1>

<button type="button" id="botonhijo" class="btn btn-success">Pulsa y comprueba</button>