<h1> Inicia Sesión</h1>

<form method="post">
    <label>Apellido</label>
    <input type="text" name="nombre" class="form-control"/>
    <br/>

    <label>Id Doctor:</label>
    <input type="text" name="idDoctor" class="form-control"/>
    <br/>

    <button type="submit" class="btn btn-success">Entrar</button>
</form>