@model Serie

<div class="container mt-3">
    <div class="card">
        <div class="card-header"><img src="@Model.Imagen" width="200";height="200"/></div>
        <div class="card-body"><h4>@Model.NombreSerie</h4> <p>@Model.Puntuacion</p></div>
        <div class="card-footer"><button class="btn btn-success">Personajes</button></div>
    </div>
</div>