<h1>Insertar un Hospital</h1>

<form method="post">

    <label>Código de Hospital</label>
    <input type="text" name="hospital_cod" class="form-control"/>
    <br/>

    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control"/>
    <br/>

    <label>Direccion</label>
    <input type="text" name="direccion" class="form-control"/>
    <br/>

    <label>Telefono</label>
    <input type="text" name="telefono" class="form-control"/>
    <br/>

    <label>Número de Camas</label>
    <input type="text" name="num_cama" class="form-control"/>
    <br/>

    <button type="submit" class="btn btn-outline-secondary">Insertar Hospital</button>
</form>
