@{

    Empleado emp = Context.Session.GetObject<Empleado>("EMPLEADO");
    string empleado = Context.Session.GetString("USUARIO");
}

@if (emp == null)
{

    //SIGNIFICA QUE NO ESTÁ VALIDADO

    <li class="nav-item">
        <p class="nav-link text-black-50">Hola @empleado</p>
    </li>

    <li class="nav-item">
        <a asp-controller="Home" asp-action="CerrarSesion" class="nav-link text-danger">Cerrar Sesion @empleado</a>
    </li>
}
else
{

    <li class="nav-item">
        <a asp-controller="Home" asp-action="SessionEmpleadoCorrecto" asp-route-idEmpleado="@emp.CodigoEmpleado" class="nav-link">Empleados para Comprar</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Home" asp-action="CerrarSesion" class="nav-link text-danger">Cerrar Sesion,@emp.Apellido</a>
    </li>

    <li class="nav-item">
        <a asp-controller="Home" asp-action="EmpleadosAlmacenadosCorrecto" asp-route-eliminar="@emp.CodigoEmpleado" class="nav-link text-info">Eliminar Empleados para comprar</a>
    </li>

}