<h1>Mi primera página MVC Net Core </h1>

@*
    Comentarios en Razor    
*@

@{
    string texto = "nivel de página";
 }

@* 
    Para poder dibujar variables
   
*@

<h1 style="color:red">@texto</h1>