<h1>Mi primera página MVC Net Core </h1>

@*
    Comentarios en Razor    
*@

@{
    string texto = "nivel de página";

    int numero = 1;
}

@* 
   CODIGO LOGICO
   
*@

@if (numero > 0)
{

   <h1>Ahora esto es HTML</h1>
}
else { 

    //TODO ESTO TAMBIEN LO ES

}