@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button id='open' data-toggle="modal" data-target="#showmodal">open modal</button>
</div>
<div>

        <label>Selecciona una opcion:</label>
        <select name="opciones" id="seleccion">
            <option value="NO">--SELECCIONA UNA OPCIÓN--</option>
            <option value="op1">Opción1</option>
            <option value="op2">Opción2</option>
            <option value="op3">Opción3</option>
        </select>
        <br/>

</div>


@section Scripts{

    <script>

        $(document).ready(function () {

            $("#open").click(function () {

                $("#contenedorModal").load("/Home/_VistaModal");
            });

            $('body').on('change', '#seleccion', function () {

                console.log("Paso por aqui");
            });
        });

    </script>

}


<div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="contenedorModal">
  
        </div>
    </div>
</div>