@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a data-toggle="modal" data-target="#myModal" href="@Url.Action("Home","_VistaModal")" class="btn btn-primary edit-radicado" id="editar">
        <span class="glyphicon glyphicon-edit" aria-hidden="true">Abrir Modal</span>
    </a>
</div>

@section Scripts{ 

    <script>

    $(document).ready(function(){

        $("#editar").click(function () {

            $("#capacoches").load("/Home/_VistaModal");
            $("#capacoches").modal('show');
        });

    });

    </script>
    
}

<div id="capacoches" class="modal fade">

</div>