@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button id='open' data-toggle="modal" data-target="#showmodal">open modal</button>
</div>


@section Scripts{

    <script>

        $(document).ready(function () {

            $("#open").click(function () {

                $("#contenedorModal").load("/Home/_VistaModal");
            });
        });

    </script>

}


<div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="contenedorModal">
  
        </div>
    </div>
</div>