@{
    ViewData["Title"] = "Home Page";
}


<!--Recuperamos el JSON que está en el session-->

@{ 
    List<Persona> personas = null;

    if (Context.Session.GetObject<string>("PERSONAS") != null) {

        string data = Context.Session.GetObject<string>("PERSONAS");
        
        personas = HelperSession.DeserializeObject<List<Persona>>(data);

    }

}

<div class="text-center">

    @if (Context.Session.GetObject<string>("PERSONAS") != null) {

        <h1 style="color:red">Personas almacenadas en Session: @personas.Count()</h1>

     }

      @if (Context.Session.GetObject<string>("Hora") !=null) { 

          <h1 style="color:red">@Context.Session.GetString("Hora")</h1>
      }

</div>