<ul class="list-group">

    <li class="list-group-item text-black-50">
        <a asp-controller="Matematicas" asp-action="SumarNumeros">Sumar Numeros</a>
    </li>

    <li class="list-group-item text-black-50">
        <a asp-controller="Matematicas" asp-action="Collatz" asp-route-num="6"> Collatz con 6</a>
    </li>
    <li class="list-group-item text-black-50">
        <a asp-controller="Matematicas" asp-action="Collatz" asp-route-num="9"> Collatz con 9</a>
    </li>
    <li class="list-group-item text-black-50">
        <a asp-controller="Matematicas" asp-action="Collatz" asp-route-num="20"> Collatz con 20</a>
    </li>
    <li class="list-group-item text-black-50">
        <a asp-controller="Matematicas" asp-action="TablaMultiplicar">Tabla Multiplicar</a>
    </li>

</ul>