@model List<Multiplicacion>

<h1>La tabla de multiplicar</h1>

<form method="post">

    <label>Introduzca un numero:</label>
    <input type="text" name="numero" class="form-control"/>
    <br/>

    <button type="submit" class="btn-success">Realizar operacion</button>
</form>

@if(Model != null){

<table class="table-striped">
        <thead class="table table-dark text-white">
            <tr>
                <th>Operacion</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
           
            @foreach (Multiplicacion mul in Model) {
            
                <tr>
                    <td>@mul.Operacion</td>
                    <td>@mul.Resultado</td>
                </tr>
            }
        </tbody>

    </table>
}