@model List<Doctor>

@{
    ViewData["Title"] = "InsertarEspecial";
}

<h1>Insertar Doctor Especial</h1>

<form method="post">

    <label>Seleccione un doctor:</label>
    <select class="form-control" name="doctor" id="doc">
        
        @foreach (Doctor doc in Model) { 
        
            <option value="@doc.IdDoctor">@doc.Apellido</option>
        }

    </select>
    <br />

    <button type="submit" class="btn btn-success">Darle Permiso</button>
</form>

