<!doctype html>
<html>
    <head>
        <title>Soy otra plantilla</title>
    </head>
    <body>
        <div style="background-color:lightblue">
            ZONA DE VISTAS
            @RenderBody()
        </div>
    </body>

</html>