@{ 
    Dictionary<string, string> PeliCant = Context.Session.DeserializeObject<Dictionary<string, string>>("PeliCantidad");
    Dictionary<string, int> Precio = ViewBag.Precio as Dictionary<string, int>;

    int precioTotal = 0;
}

@if (Context.Session.DeserializeObject<Dictionary<string, string>>("PeliCantidad") != null)
{

<table class="table table-active">
    <thead>

        <tr>
            <td>IdPelicula</td>
            <td>Cantidad</td>
            <td>Precio</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var e in PeliCant)
        {

            <tr>
                <td>@e.Key</td>
                <td>@e.Value</td>

                @if (Precio.ContainsKey(e.Key))
                {

                    @Precio.TryGetValue(e.Key, out int value);
                    precioTotal += value;

                    <td>@value€</td>
                }
            </tr>
        }

    </tbody>

</table>

<a asp-controller="Peliculas" asp-action="RealizarCompra" asp-route-id="@precioTotal" class="btn btn-danger">Realizar Compra</a>
}
else { 

    <h1 style="color:red;">Aún no hay valores en el carrito...</h1>
}