<h1>Login</h1>

<form method="post">
    <label>Apellido:</label>
    <input type="text" name="apellido" class="form-control" />
    <br />

    <label>Oficio:</label>
    <input type="text" name="oficio" class="form-control" />
    <br />

    <button type="submit" class="bton btn-outline-info">Sign In</button>
</form>

<!--<partial name="_LoginEmpleado" />-->