@model Persona

<h1>Información con POST</h1>

<form method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" class="form-control" />
    <br/>

    <label>Edad:</label>
    <input type="number" name="edad" class="form-control" />
    <br/>

    <label>Email:</label>
    <input type="text" name="email" class="form-control"/>
    <br/>

    <button type="submit" class="btn-info">Enviar información</button>
</form>

@*Para mostrar los datos recibidos por post*@

@if (Model != null) //Siempre tenemos que verificar si el modelo es null cuando estamos enviando datos por post porque sino salta el error de Null
{
    <h1 style="color:blue">Nombre: @Model.Nombre, Edad: @Model.Edad, Email: @Model.Email</h1>
}