@model tCountryCodeAndName[]



<ul class="list-group">
    @foreach (tCountryCodeAndName country in Model)
    {
        <li class="list-group-item">
            @country.sName
        </li>
        <li class="list-group-item">
            <a asp-controller="Countrie" asp-action="CountryInfo" asp-route-isocode="@country.sISOCode" class="btn btn-info">Details</a>
        </li>
    }
</ul>